streamlit==1.51.0
pandas==2.3.3
numpy==2.3.5
scikit-learn==1.7.2
scipy==1.16.3
nltk==3.9.2
regex==2025.11.3
underthesea==8.3.0
huggingface_hub==1.1.7
requests==2.32.5
tqdm==4.67.1
pillow==12.0.0
pyarrow==21.0.0
altair==5.5.0
